body {
    display: flex;
    justify-content: center;
    margin: 0 auto;
}
ul {
    list-style-type: none;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 24px; 
    max-width: 1200px;
    list-style: none;
    padding: 20px;
}

.gallery-image {
    width: 360px;
    height: 200px;
    object-fit: cover;
}

.gallery-image:hover {
    transform: scale(1.05);
}